/* line 31, ../sass/colors.scss */
body {
  color: #121312;
}
/* line 33, ../sass/colors.scss */
body a {
  color: #88ad25;
}
/* line 36, ../sass/colors.scss */
body a:visited {
  color: #93931d;
}
/* line 40, ../sass/colors.scss */
body a:active,
body a:hover {
  color: #80cd45;
}
/* line 43, ../sass/colors.scss */
body mark {
  background: #26d926;
}
/* line 46, ../sass/colors.scss */
body ins {
  background: #cdf5c9;
}
/* line 51, ../sass/colors.scss */
body button,
body input,
body textarea {
  border: 2px solid #c1d0be;
}
/* line 55, ../sass/colors.scss */
body input,
body textarea {
  color: #121312;
}
/* line 59, ../sass/colors.scss */
body input:focus,
body textarea:focus {
  border: 2px solid #b0bfae;
}
/* line 65, ../sass/colors.scss */
body button,
body input[type="submit"],
body input[type="button"],
body input[type="reset"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9ac43e), color-stop(100%, #97bb2f));
  background: -webkit-linear-gradient(top, #9ac43e 0%, #97bb2f 100%);
  background: -moz-linear-gradient(top, #9ac43e 0%, #97bb2f 100%);
  background: -o-linear-gradient(top, #9ac43e 0%, #97bb2f 100%);
  background: linear-gradient(top, #9ac43e 0%, #97bb2f 100%);
  border: none;
  border-bottom: 3px solid #7f9e21;
  color: #fff;
}
/* line 80, ../sass/colors.scss */
body button:hover,
body button:focus,
body input[type="submit"]:hover,
body input[type="button"]:hover,
body input[type="reset"]:hover,
body input[type="submit"]:focus,
body input[type="button"]:focus,
body input[type="reset"]:focus {
  background: #a9d14d;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9d14d), color-stop(100%, #a7c943));
  background: -webkit-linear-gradient(top, #a9d14d 0%, #a7c943 100%);
  background: -moz-linear-gradient(top, #a9d14d 0%, #a7c943 100%);
  background: -o-linear-gradient(top, #a9d14d 0%, #a7c943 100%);
  background: linear-gradient(top, #a9d14d 0%, #a7c943 100%);
}
/* line 89, ../sass/colors.scss */
body button:active,
body input[type="submit"]:active,
body input[type="button"]:active,
body input[type="reset"]:active {
  background: #97bb2f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97bb2f), color-stop(100%, #7f9e21));
  background: -webkit-linear-gradient(top, #97bb2f 0%, #7f9e21 100%);
  background: -moz-linear-gradient(top, #97bb2f 0%, #7f9e21 100%);
  background: -o-linear-gradient(top, #97bb2f 0%, #7f9e21 100%);
  background: linear-gradient(top, #97bb2f 0%, #7f9e21 100%);
  border-top: 3px solid #7f9e21;
}
