/* line 231, ../sass/green.scss */
body {
  color: #121312;
  /*
  .attachment .hentry {
  	background-color: $color10;
  }
  .attachment .entry-meta a,
  .attachment .entry-meta .edit-link:before,
  .attachment .full-size-link:before {
  	color: $color18;
  }
  .navigation a {
  	color: $color20;
  }
  .navigation a:hover {
  	color: $color9;
  }
  .paging-navigation {
  	background-color: $color10;
  }
  .paging-navigation .meta-nav {
  	background-color: $color12;
  }
  .paging-navigation a:hover .meta-nav {
  	background-color: $color9;
  }
  .post-navigation {
  	color: $color18;
  }
  .single-format-status .author-description {
  	color: $color5;
  }
  .author-link {
  	color: $color18;
  }
  .archive-header {
  	background-color: $color10;
  }
  .page-header {
  	background-color: $color10;
  }
  .error404 .page-title:before {
  	color: $color10;
  }
  .error404 .page-wrapper {
  	background-color: $color10;
  }
  .comment-author .fn,
  .comment-author .url,
  .comment-reply-link,
  .comment-reply-login {
  	color: $color20;
  }
  .comment-meta a:hover {
  	color: $color9;
  }
  .comment-respond {
  	background-color: $color5;
  }
  .comment-reply-title small a {
  	color: $color29;
  }
  .comment-reply-title small a:hover {
  	color: $color7;
  }
  .comment-form .required {
  	color: $color7;
  }
  .form-allowed-tags,
  .form-allowed-tags code {
  	color: $color25;
  }
  .no-comments {
  	background-color: $color5;
  }
  .widget {
  	background-color: $color31;
  }
  .widget a {
  	color: $color20;
  }
  .widget a:hover {
  	color: $color9;
  }
  .site-footer {
  	background-color: $color10;
  	color: $color25;
  }
  .site-footer a {
  	color: $color25;
  }
  .site-footer .sidebar-container {
  	background-color: $color26;
  }
  .site-footer .widget a {
  	color: $color11;
  }
  .widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
  	background-color: transparent;
  }
  .site-footer .widget {
  	background: transparent;
  	color: #fff;
  }
  @media (max-width: 643px) {
  	.toggled-on .nav-menu li > ul a {
  		color: $color28;
  	}
  	.toggled-on .nav-menu li > ul {
  		background-color: transparent;
  	}
  	.toggled-on .nav-menu li:hover > a,
  	.toggled-on .nav-menu .children a {
  		background-color: transparent;
  		color: $color28;
  	}
  	.toggled-on .nav-menu li a:hover,
  	.toggled-on .nav-menu ul a:hover {
  		background-color: $color15;
  	}
  }*/
}
/* line 233, ../sass/green.scss */
body a {
  color: #88ad25;
}
/* line 236, ../sass/green.scss */
body a:visited {
  color: #93931d;
}
/* line 240, ../sass/green.scss */
body a:active,
body a:hover {
  color: #80cd45;
}
/* line 243, ../sass/green.scss */
body mark {
  background: #26d926;
}
/* line 246, ../sass/green.scss */
body ins {
  background: #cdf5c9;
}
/* line 251, ../sass/green.scss */
body button,
body input,
body textarea {
  border: 2px solid #c1d0be;
}
/* line 255, ../sass/green.scss */
body input,
body textarea {
  color: #121312;
}
/* line 259, ../sass/green.scss */
body input:focus,
body textarea:focus {
  border: 2px solid #b0bfae;
}
/* line 265, ../sass/green.scss */
body button,
body input[type="submit"],
body input[type="button"],
body input[type="reset"] {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #9ac43e), color-stop(100%, #97bb2f));
  background: -webkit-linear-gradient(bottom, #9ac43e 0%, #97bb2f 100%);
  background: -moz-linear-gradient(bottom, #9ac43e 0%, #97bb2f 100%);
  background: -o-linear-gradient(bottom, #9ac43e 0%, #97bb2f 100%);
  background: linear-gradient(bottom, #9ac43e 0%, #97bb2f 100%);
  border: none;
  border-bottom: 3px solid #7f9e21;
  color: white;
}
/* line 280, ../sass/green.scss */
body button:hover,
body button:focus,
body input[type="submit"]:hover,
body input[type="button"]:hover,
body input[type="reset"]:hover,
body input[type="submit"]:focus,
body input[type="button"]:focus,
body input[type="reset"]:focus {
  background: #a9d14d;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #a9d14d), color-stop(100%, #a7c943));
  background: -webkit-linear-gradient(bottom, #a9d14d 0%, #a7c943 100%);
  background: -moz-linear-gradient(bottom, #a9d14d 0%, #a7c943 100%);
  background: -o-linear-gradient(bottom, #a9d14d 0%, #a7c943 100%);
  background: linear-gradient(bottom, #a9d14d 0%, #a7c943 100%);
}
/* line 289, ../sass/green.scss */
body button:active,
body input[type="submit"]:active,
body input[type="button"]:active,
body input[type="reset"]:active {
  background: #97bb2f;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #97bb2f), color-stop(100%, #7f9e21));
  background: -webkit-linear-gradient(bottom, #97bb2f 0%, #7f9e21 100%);
  background: -moz-linear-gradient(bottom, #97bb2f 0%, #7f9e21 100%);
  background: -o-linear-gradient(bottom, #97bb2f 0%, #7f9e21 100%);
  background: linear-gradient(bottom, #97bb2f 0%, #7f9e21 100%);
  border-top: 3px solid #7f9e21;
}
/* line 2, ../sass/partials/_mixin.scss */
body.placeholder {
  color: #707a6f;
}
/* line 3, ../sass/partials/_mixin.scss */
body:-moz-placeholder {
  color: #707a6f;
}
/* line 4, ../sass/partials/_mixin.scss */
body::-moz-placeholder {
  color: #707a6f;
}
/* line 5, ../sass/partials/_mixin.scss */
body:-ms-input-placeholder {
  color: #707a6f;
}
/* line 6, ../sass/partials/_mixin.scss */
body::-webkit-input-placeholder {
  color: #707a6f;
}
/* line 302, ../sass/green.scss */
body .wp-caption .wp-caption-text,
body .entry-caption,
body .gallery-caption {
  color: #1f1e11;
  background-color: inherit;
}
/* line 307, ../sass/green.scss */
body .site-header .home-link {
  color: #121312;
}
/* line 311, ../sass/green.scss */
body .nav-menu li a {
  color: #121312;
}
/* line 315, ../sass/green.scss */
body .nav-menu li:hover > a,
body .nav-menu li a:hover {
  background-color: #1f1e11;
  color: white;
}
/* line 321, ../sass/green.scss */
body .nav-menu .sub-menu,
body .nav-menu .children {
  background-color: #1f1e11;
  border-color: #eaf4e9;
}
/* line 326, ../sass/green.scss */
body ul.nav-menu ul a:hover,
body .nav-menu ul ul a:hover {
  background-color: #a5c148;
}
/* line 332, ../sass/green.scss */
body .nav-menu .current_page_item > a,
body .nav-menu .current_page_ancestor > a,
body .nav-menu .current-menu-item > a,
body .nav-menu .current-menu-ancestor > a {
  color: #82a124;
}
/* line 335, ../sass/green.scss */
body .navbar {
  background-color: #eaf4e9;
}
/* line 338, ../sass/green.scss */
body .site-header .search-field:focus {
  border-color: #b0bfae;
}
/* line 341, ../sass/green.scss */
body .search-form .screen-reader-text:before {
  color: red;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-inherit .entry-title {
  background-color: #121312;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-inherit .entry-title a {
  color: #80cd45;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-inherit .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-inherit .entry-content {
  background-color: #82a124;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-inherit .entry-content a {
  color: #80cd45;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-inherit .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-inherit .entry-meta {
  background-color: #82a124;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-inherit .entry-meta a {
  color: #82a124;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-inherit .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-aside .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-aside .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-aside .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-aside .entry-content {
  background-color: #eaf4e9;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-aside .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-aside .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-aside .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-aside .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-aside .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-audio .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-audio .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-audio .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-audio .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-audio .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-audio .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-audio .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-audio .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-audio .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-chat .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-chat .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-chat .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-chat .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-chat .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-chat .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-chat .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-chat .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-chat .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-gallery .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-gallery .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-gallery .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-gallery .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-gallery .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-gallery .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-gallery .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-gallery .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-gallery .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-image .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-image .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-image .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-image .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-image .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-image .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-image .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-image .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-image .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-link .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-link .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-link .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-link .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-link .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-link .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-link .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-link .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-link .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-quote .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-quote .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-quote .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-quote .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-quote .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-quote .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-quote .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-quote .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-quote .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-status .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-status .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-status .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-status .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-status .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-status .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-status .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-status .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-status .entry-meta a:hover {
  color: inherit;
}
/* line 66, ../sass/partials/_mixin.scss */
body .format-video .entry-title {
  background-color: inherit;
  color: inherit;
}
/* line 69, ../sass/partials/_mixin.scss */
body .format-video .entry-title a {
  color: inherit;
}
/* line 71, ../sass/partials/_mixin.scss */
body .format-video .entry-title a:hover {
  color: inherit;
}
/* line 77, ../sass/partials/_mixin.scss */
body .format-video .entry-content {
  background-color: inherit;
  color: inherit;
}
/* line 80, ../sass/partials/_mixin.scss */
body .format-video .entry-content a {
  color: inherit;
}
/* line 82, ../sass/partials/_mixin.scss */
body .format-video .entry-content a:hover {
  color: inherit;
}
/* line 87, ../sass/partials/_mixin.scss */
body .format-video .entry-meta {
  background-color: inherit;
  color: inherit;
}
/* line 90, ../sass/partials/_mixin.scss */
body .format-video .entry-meta a {
  color: inherit;
}
/* line 92, ../sass/partials/_mixin.scss */
body .format-video .entry-meta a:hover {
  color: inherit;
}
/* line 496, ../sass/green.scss */
body .format-status .entry-content .page-links a,
body .format-gallery .entry-content .page-links a,
body .format-chat .entry-content .page-links a,
body .format-quote .entry-content .page-links a,
body .page-links a {
  color: inherit;
  background-color: #bbca46;
  border: 1px solid #bbca46;
}
/* line 507, ../sass/green.scss */
body .format-gallery .entry-content .page-links a:hover,
body .format-audio .entry-content .page-links a:hover,
body .format-status .entry-content .page-links a:hover,
body .format-video .entry-content .page-links a:hover,
body .format-chat .entry-content .page-links a:hover,
body .format-quote .entry-content .page-links a:hover,
body .page-links a:hover {
  color: #bbca46;
  background-color: white;
}
/* line 512, ../sass/green.scss */
body .page-links > span {
  color: inherit;
  background-color: transparent;
}
/* line 521, ../sass/green.scss */
body .blog .format-aside:first-of-type,
body .single .format-aside:first-of-type,
body .format-aside + .format-aside,
body .format-aside + .format-link,
body .format-link + .format-aside {
  box-shadow: inset 0 2px 2px rgba(121, 163, 115, 0.2);
}
